.card {
    display: flex;
    flex-direction: column;
    
    
    


    .imageBlock {
        max-width: 370px;
        

        div {
            
            &.desktop {
                
                img {
                    width: 100%;
                }
            }

           
        }
    }

    .textBlock {
        padding: 8px 15px;
        max-width: 370px;
        border-bottom: 3px solid #4d5a8f;
        


        .project-title {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        h4 {
            font-size: 1.1rem;

        }
        p, span {
            font-size: 1rem;
            margin: 5px 0
        }

        li {
            font-size: .98rem;
            font-weight: bold;
            margin: 5px 0;
        }

        .links {
            display: flex;
            justify-content: space-between;

            a {
                text-decoration: underline;
            }
        }

        .item {
            display: inline-block;
            background-color: #4d5a8f;
            color: hsl(228, 88%, 98%);
            padding: 2px 4px;
            border-radius: 3px;
        }
       
    }

    
}