@import '../../../sass/variables';

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    color: $primary-color;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    padding-block: 10px;
    
   

    .logo {
        width: 60px;
        height: 60px;
    }

    .items {
        display: flex;
        gap: 20px;

        li {
            font-size: 1.2rem;
            font-family: "Liberation serif";

            &:hover {
                color: blueviolet;
            }
        }
    }

    .socialIcon {
        width: 20px;
        height: 20px;

        &:hover {
            color: blueviolet;
        }
    }


    .mobileMenu {
        width: 30px;
        height: 30px;
        color: $primary-color;
        border: 1px solid $hover-color;
        border-radius: 3px;
        padding: 3px;
        cursor: pointer;
        display: none;

        

    }

}


@media (max-width: $mobile-view){
    header {
        width: 100%;
        display: flex;
        align-items: center;

       

        .mobile {
            position: absolute;
            flex-direction: row;
            gap: 20px;
            background-color: $primary-color;
            width: 100%;
            padding: 5px 0;
            top: 80px;
            left: 0;
            justify-content: center;

            li {
                color: $secondary-color;

                &:hover {
                    color: $hover-color;
                }
            }
        }

        .mobileMenu {
            display: block;

            &:hover {
                color: $hover-color;
            }
        }
    }
}