@import '../../sass/variables';
@import '../../sass/mixin';

h1 {
  color: $text-color;  
  font-size: 1.5rem;
}

main {
    padding: 100px 0 100px 15rem;

    & .hero-desc {
        font-weight: bold;
    }
}


h2 {
    font-size: 1.2rem;
    color: $primary-color;
}

p {
    font-size: 1.1rem;
    font-family: "Liberation sans";
    line-height: 1.3
}

.about {
    display: flex;

    .text {
        align-self: flex-end;
        padding-right: 60px;

        p {
            font-size: 1.1rem;
            font-family: "Liberation sans";
        }

        .paragraph1 {
            font-weight: 700;
            margin-bottom: .8rem;
        }

        .marg {
            margin-bottom: .6rem;
        }
        
        .skills {
            display: flex;
            justify-content: space-between;

            li {
                margin-block: 5px;
                font-size: 1rem;
            }
        }
    }

    @include heading_two(14rem);

}

.latest-projects {
    margin-top: 100px;

    h2 {
        text-decoration: underline;
        text-decoration-color: $primary-color;
        margin-bottom: 60px;

    }

    .projects {
        display: flex;
        justify-content: center;
        gap: 50px;
    }
}

@media (max-width: $tablet-view){
   

    main {
        padding: 100px 0 40px 8rem;
    }

    h2 {
        font-size: 1.1rem;
    }

    p {
        font-size: 1rem;
        margin-bottom: 3rem;
    }

    .about {

        .text {
            align-self: flex-end;
            padding-right: 25px;

            p {
                font-size: 1rem;
            }
    
            .paragraph1 {
                margin-bottom: 1rem;
            }
        }

       
    }

    .latest-projects {
        margin-top: 80px;

        .projects {
            flex-direction: column;
            align-items: center;
        }

    }


}

@media (max-width: $mobile-view){
    main {
        padding: 80px 0 5rem 0;

        .padd {
            padding-left: 30px;
            padding-right: 10px;
        }
        
        & >  div {
            margin-bottom: 2rem;
        }

        & .hero-desc {
            font-weight: bold;
        }
    }

    .about {
        flex-direction: column;

        .text {
            order: 2;
            padding-right: 0;

            .mobile-back {
                background-color: $primary-color;
                padding-right: 20px;
                padding-block: 10px;
                margin-bottom: 10px;

                p {
                    color: $secondary-color;
                }

            }

            .skills {
                justify-content: center;
                gap: 6rem;


                li {
                    color: $primary-color;
                    font-weight: bold;
                }

            }

           
        }
    }

    .latest-projects {
        margin-top: 30px;
        padding: 0 20px;

        .projects {
            flex-direction: column;
        }

    }
}

